@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');

* {
    padding: 0;
    margin: 0;
    color: #fff;
}
button {
    background: none;
    border: none;
}
button:focus {
    outline: none;
}
button:hover {
    cursor: pointer;
}

body {
    font-family: 'Major Mono Display', monospace, Arial, Helvetica, sans-serif;
    background-color: #000;
}

/********/
/**MENU**/
#header-logo:hover {
    cursor: pointer;
}
header {
    font-size: 1rem;
    background-color: #222;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-button {
    font-size: 1rem;
}
.header-button:hover {
    color: rgb(255, 113, 113);
}
#menu-container {
    margin: 0 auto;
    margin-top: 5rem;
}
.menu-title {
    text-align: center;
}
.menu-option {
    line-height: 2rem;
    background-color: #151515;
    width: 20%;
    min-width: 200px;
    padding: 0.5rem;
    margin: 1rem auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.menu-option-title {
    margin-left: 1rem;
    transition: margin-left 100ms linear;
    font-weight: bold;
}
.menu-option-button {
    font-size: 2rem;
    color: black;
}
.menu-option-button:hover ~ .menu-option-title {
    margin-left: 5rem;
    color: rgb(255, 113, 113);
}

/***********/
/*HOWTOPLAY*/
#how-to-play-container {
    background-color: #222;
    width: 80%;
    margin: 1rem auto;
    padding: 1rem;
}
#htp-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    line-height: 4rem;
}
.htp-category {
    margin: 2rem 0 1rem 0;
    font-size: 1.5rem;
    text-decoration: underline;
}
.htp-boring {
    font-family: Arial, Helvetica, sans-serif;
}

/********/
/**GAME**/
#game-container {
    margin: 0 auto;
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
}
#display {
    border: 2px solid white;
    box-sizing: border-box;
    background-color: #151515;
    min-width: 40rem;
    max-width: 40rem;
    height: 40rem;
    font-size: 1rem;
    word-wrap: break-word;
    letter-spacing: 0.25rem;
    border-radius: 0.25rem;
    overflow: hidden;
    position: relative;
}
#text-container {
    font-family: monospace;
    background-color: #151515;
    border-radius: 0.25rem;
    position: relative;
    overflow: hidden;
}
#message-history {
    width: 50rem;
    max-height: 40rem;
    box-sizing: border-box;
    padding: 0.5rem;
    overflow: scroll;
}
#message-history::-webkit-scrollbar {
    display: none;
}
input {
    box-sizing: border-box;
    padding: 0 0.5rem;
    background-color: #222;
    border: none;
    width: 10rem;
    height: 2rem;
}
.message {
    line-height: 1.5rem;
}
.admin {
    color: rgb(50, 255, 60);
}
@media all and (max-width: 900px) {
    #game-container {
        flex-direction: column;
        flex-direction: column-reverse;
    }
    #screen-container {
        margin: 0 auto;
    }
    #text-container {
        width: 40rem;
        margin: 0 auto;
    }
}

.chunky {
    position: absolute;
    width: 48rem;
    height: 48rem;
}

/*********/
/**TILES**/
.player-tile {
    color: rgb(234, 0, 255);
}
.dirt-tile {
    color: rgb(165, 91, 42);
}
.water-tile {
    color: rgb(28, 145, 255);
}
.sand-tile {
    color: rgb(255, 255, 116);
}
.tree-tile {
    color: green;
}